@tailwind base;
@tailwind components;
@tailwind utilities;

main {
width: 600px;
margin: 0 auto;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 3rem;
height: 800px;
position: relative;
top: 50px;
background-color: rgb(114, 100, 114);
color: white;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

ul {
  display: flex;
  gap: 1rem;
}